/* src/components/Filter.module.css */

/* src/components/Filter.module.css */

.filterContainer {
    display: flex;
    flex-direction: column; /* Column direction for the entire container */
    align-items: flex-start;
    padding: 20px;
    background-color: #f9f9f9; /* Light background for the filter section */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    margin-bottom: 20px; /* Space below the filter */
  }
  
  .filterForm {
    display: flex; /* Change to flex for row layout */
    gap: 10px; /* Space between inputs */
    flex-wrap: wrap; /* Allow wrapping for responsiveness */
  }
  
  .filterInput, .filterSelect {
    padding: 10px;
    border: 1px solid #ccc; /* Light border */
    border-radius: 4px; /* Slightly rounded corners */
    font-size: 1rem;
    width: 150px; /* Set a fixed width for inputs and selects */
    transition: border-color 0.3s; /* Smooth border color transition */
  }
  
  .filterInput:focus, .filterSelect:focus {
    border-color: #007bff; /* Change border color on focus */
    outline: none; /* Remove default outline */
  }
  
  .filterButton {
    padding: 10px 15px;
    background-color: #595a5b; /* Blue background */
    color: white; /* White text */
    border: none;
    border-radius: 4px; /* Rounded corners */
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth background color transition */
  }
  
  .filterButton:hover {
    background-color: #cec81f; /* Darker blue on hover */
  }
  
  .characterGrid {
    margin-top: 20px; /* Space above the character grid */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Responsive grid */
    gap: 15px; /* Space between character cards */
  }
  
  @media (max-width: 600px) {
    .filterInput, .filterSelect {
      width: 100%; /* Full width on smaller screens */
    }
  }
  